Body {
    overflow-y: auto;
    background-color: orange;
}

#background {
    margin-left: 1200px;
    top: 0px;
    position: fixed;
    width: 850px;
    height: auto;

}

#Title {
    font-size: 300%;
    position: relative;
    text-align: left;
    font-family: krungthep;
    margin-top: 75px;
    margin-left: 100px;
    line-height: 2em;




}

h1 {
    font-size: 150%;
    position: relative;
    text-align: left;
    font-family: krungthep;
    margin-top: 75px;
}

h2 {
    font-size: 250%;
    position: relative;
    text-align: left;
    font-family: krungthep;
    margin-top: 75px;
}

#Title2 {
    font-size: 150%;
    position: relative;
    margin-left: 200px;
    font-family: krungthep;
    margin-top: 100px;
}

#Bitcoin {
    display: block;
    margin-left: 200px;

    margin-right: auto;
    margin-top: 80px;

}

#Year2009 {
    font-size: 200%;
    left: 65px;
    margin-top: 400px;
    font-family: krungthep;
    position: relative;
}

#Y2010 {
    font-size: 200%;
    left: 65px;
    margin-top: 400px;
    font-family: krungthep;
    position: relative;
}

#Y2011 {
    font-size: 200%;
    left: 65px;
    margin-top: 400px;
    font-family: krungthep;
    position: relative;
}

#Y2013 {
    font-size: 200%;
    left: 65px;
    margin-top: 400px;
    font-family: krungthep;
    position: relative;
}

#CPU {
    display: block;
    left: 80px;
    margin-right: auto;
    margin-top: 410px;
    width: 24%;
    margin-bottom: 400px;
    position: relative;

}

#p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -745px;

    position: relative;
    line-height: 1.4em;

}

#p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    top: 575px;
    position: relative;
    line-height: 1.4em;
}

#p3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    top: 315px;
    position: relative;
    line-height: 1.4em;
}

#p4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    top: 185px;
    position: relative;
    line-height: 1.4em;
}

#GPU {
    display: block;
    left: 80px;
    margin-right: auto;
    margin-top: 0px;
    width: 24%;
    margin-bottom: 400px;
    position: relative;
}

#FPGA {
    display: block;
    left: 80px;
    margin-right: auto;
    margin-top: -100px;
    width: 24%;
    margin-bottom: 400px;
    position: relative;

}

#Asic {
    display: block;
    left: 80px;
    margin-right: auto;
    margin-top: -400px;
    width: 24%;
    margin-bottom: 400px;
    position: relative;
}